<h1>Sistema de pago del grupo 4</h1>

<h3>Está siendo rediriccionado a la página de pago</h3>
<%=$items.price%>

<a class="btn btn-danger" href="/store/cart">Cancelar</a>


<a class="btn btn-success" href=<%=@url%>>Continuar</a>


