<h3 class="dashTitle">Orden de compra aceptada</h3>

<%= link_to '<h5 style="text-align: center"><button type="button">Volver a las ordenes</button></h5>'.html_safe, "/purchase_orders_ftp" %>

<h5 style="text-align: center"> Detalles de la orden de compra: </h5>
<h5> <%= @purchase_order %> </h5>
